.orders-container {
    padding: 2rem;
    color: #fff;
    background-color: #000;
    min-height: 100vh;
}

 

.order-list-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ffff;
    padding-bottom: 1rem;
}

.table-responsive {
    border: 1px solid #ffff;
}

.orders-table {
    width: 100%;
    color: #fff;
    border-collapse: collapse;
}

    .orders-table thead th {
        background-color: #0000;
        color: #fff;
        padding: 1rem;
        text-align: left;
        border-bottom: 1px solid #ffff;
    }

    .orders-table tbody td {
        padding: 1rem;
        border-top: 1px solid #ffff;
        vertical-align: middle;
    }

.btn-view {
    background-color: #00A859; /* Green color from image */
    color: #fff;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-view:hover {
        background-color: #008f4b;
    }

.pagination-container {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
}

.btn-page, .btn-page-active {
    background-color: #0000;
    color: #fff;
    border: 1px solid #ffff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-page:hover {
        background-color: #333;
    }

.btn-page-active {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}
