@page "/"

<div style="padding: 2rem; color: white;">
    <h1><i class="fa-solid fa-house"></i> Home Page</h1>
    <p>If you see a house icon next to the text, Font Awesome is working correctly.</p>
</div>